.button {
  background-color: #fff;

  padding: 4px 8px;
  border: 1px solid rgb(2, 0, 49);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(72, 109, 243);
  color: #fff;
}